*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color:#6C757B;
	background-size:100% 200%;
	background-repeat: no-repeat;
	background-position:center ;
	font-family:arial;
}
.menu1 ul{
	background-color:#037C24;
	margin:0 auto;
	width:100%;
	padding:10px;
	box-sizing:border-box;
	text-align:center;
	font-family:arial black;
	font-size:24px;
	
}

.menu1 li{
	display:inline;
	border-right: 3px solid #037C24;
	color:#03167C;
	font-weight:600;
	padding:10 px;
	
	
}
.menu1 li:hover{
	background-color:#4F2C76;
	border-right:1px solid RGB(62, 3, 124);
	font-weight:400;
	cursor:pointer;
}
.encabezado{
	background-image: url("../Imagenes/PIRAMIDE DIRECCION.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:250px;
	text-align:center;
	font-family:Bahnschrift Light;
	font-size:90px;
	color:#1B4203;
}
.inicio
{
	display:flex;
}
.in-flex {
flex: 1;
padding: 25px;
min-width: 300px;

}

.in-flex: first-child {
flex: 2;
padding: 25px;
background-color:#FFFFFF;
margin: 20px;
margin-bottom: Opx;
}	

.in-flex div {
padding:25px;
background-color: white;
margin:20px;
}
