*{
	padding: 0%;
	margin: 0%;
}
body{
	background-color:#4b4e5e;
	font-family:calibri;
	font-size:130%;
	color:0000000;
}
.menu1 ul{
	background-color:#03747c;
	margin:0 auto;
	width:100%;
	padding:10px;
	box-sizing:border-box;
	text-align:left;
	font-family:arial black;
	font-size:24px;
	text-decoration: none;
	color:#FFFFFF;
	
}

.menu1 li{
	display:inline;
	border-right: 30px solid #03747c;
	color:#FFFFFF;
	font-weight:600;
	padding:10 px;
	text-decoration: none;
	
	
}
.menu1 li:hover{
	background-color:#046066;
	border-right:1px solid RGB(62, 3, 124);
	font-weight:400;
	cursor:pointer;
}


.encabezado{
	background-image: url("../imagenes/SeguridadInformatica.jpg");
	background-size: cover;
	background-color:#1a2683;
	padding-top: 10%;
	padding-bottom: 10%;
	width:absolute;
	text-align:center;
	font-family:calibri;
	font-size:60px;
	color:#f9f9f9;
	-webkit-animation: encabezado 3s ease-in-out infinite alternate;
	-moz-animation: encabezado 3s ease-in-out infinite alternate;
	animation: encabezado 3s ease-in-out infinite alternate;
}

@-webkit-keyframes encabezado {
from {
  color: #0e2076;
}
to {
  color: #ffffff;
}
}



.inicio
{
	display:flex;
}
.in-flex {
flex: 1;
padding: 0px;
min-width: 300px;

}

.in-flex: first-child {
flex: 2;

background-color:f9f9f9;
margin: 0px;
margin-bottom: Opx;
}	

.in-flex div {
padding:25px;
background-color: #d2dfff;
margin:20px;
color:#000000;
}

aside{
	padding:25px;
	color:black;
}
footer{
	background-color:#151f66;
	color:#f9f9f9;
}

#imagen1 { 
		float:left; width:550px;

	  }
